<div style="background-color: #A4EF77;" id="header" class="header" role="banner">
	<div
		class="section layout-container clearfix">
		{# {{ page.secondary_menu }} #}
		{{ page.header }}
		{{ page.primary_menu }}
	</div>
</div>
